<div class="container">
  <app-title [titleText]="'Phishing Detection 🛡️'"></app-title>
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="emailTitle">Email Title:</label>
      <input type="text" id="emailTitle" [(ngModel)]="emailTitle" name="emailTitle" class="form-control" placeholder="Enter the email subject/title...">
    </div>
    <div class="form-group">
      <label for="emailText">Email Body:</label>
      <textarea id="emailText" [(ngModel)]="emailText" name="emailText" class="form-control" rows="5" placeholder="Paste the suspicious email text here..."></textarea>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="isLoading">
      <span class="button-content" [class.hidden]="isLoading">Analyze Email</span>
      <span class="loader" *ngIf="isLoading">
        <span class="loader-circle"></span>
        <span class="loader-circle"></span>
        <span class="loader-circle"></span>
      </span>
    </button>
  </form>
  <div *ngIf="result">
    <app-title [titleText]="'Analysis Result 🔎'"></app-title>
    <!-- Adding a rounder progress circle chart to show the confidence score  -->
          <div style="width: 200px; height: 200px; margin-left: auto; margin-right: auto;">
              <circle-progress 
                *ngIf="confidence !== undefined"
                [percent]="confidence * 100"
                [radius]="30"
                [outerStrokeWidth]="5"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
                [showTitle]="false"
                [showUnits]="true"
                [unitsColor]="'#00ff88'"
                [units]="confidence*100+'%'"
                [titleColor]="'#00ff88'"
                [showSubtitle]="false"
                [showBackground]="false"
                [showInnerStroke]="true"
                [responsive]="true"
                [startFromZero]="false"
              ></circle-progress>
            </div>

    <p class="result-message" [ngClass]="{'phishing': result.is_spam, 'safe': !result.is_spam}">
      {{result.is_spam ? 'Warning: This email is likely a phishing attempt!' : 'Good news! This email appears to be legitimate.'}}
    </p>
    <h3>Suspicious Words Found</h3>
    <ul>
      <li *ngFor="let word of result.suspect_words">
        <span class="highlight-suspect">{{ word[0] }}</span>: {{ word[1] }}
      </li>    
    </ul>
  </div>
</div>
